<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi, I'm Cidney! I'm a game developer and software engineer with over 15 years of experience.</p>
      </div>
      <div class="col-lg-4">
        <p>
          I specialize in helping creative people achieve their vision through technology, by creating accessible and immersive websites, apps, and games.
        </p>
      </div>
    </div>
  </div>
</section>
